.body-input{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background-color: 'transparent';
  align-items: center;
}

.judul-input{
  color: #FFF600;
}

.limit-char{
  color: #FFF600;
  margin-bottom: 3px;
  margin-left: 3px;
}

.limit-char span {
  color: #fff;
}

.notes-input{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 80%;
  box-sizing: border-box;
  width: 80%;
  margin-bottom: 20px;
}

.form-input-note{
  box-sizing: border-box;
  background-color: transparent;
  color: #ffd600;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #26001b;
  box-shadow: 1px 1px 2px #ffd600;
  transition: all  .5s ease-in-out;
}

.form-input-note:focus {
  background-color: #ffd600;
  color: #26001B;
  outline: none;
  border: none;
  box-shadow: 5px 5px #ffffff4a;
  font-weight: 800;
  transition: all .5s ease-in-out;
}

.form-input-note::placeholder{
  color: #fff700c6;
  font-size: 12px;
  font-weight: 200;
  text-transform: lowercase;
}

textarea{
  max-width: 100%;
  height: 80px;
  max-height: 120px;
  margin: 10px 0;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffd600;
  padding: 8px;
  border: 1px solid #26001b;
  box-shadow: 1px 1px 2px #ffd600;
  transition: all  .5s ease-in-out;
}

textarea:focus{
  background-color: #ffd600;
  color: #26001B;
  outline: none;
  border: none;
  box-shadow: 5px 5px #ffffff4a;
  font-weight: 800;
  transition: all .5s ease-in-out;
}

textarea::placeholder{
  color: #ffd600;
}

.notes-input button{
  padding: 10px 20px;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: 1px 1px 5px #ffd500b4;
  color: #FFF600;
  font-weight: bold;
  border: 1px solid #ffd600;
  cursor: pointer;
}

.notes-input button:hover {
  background-color: #ffd600;
  color: #26001B;
  font-weight: bold;
  box-shadow: 5px 5px #ffffff4a;
  transition: all .5s ease-in-out;
}

.empty-title{
  color: rgb(254, 72, 72);
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px; 
}

.empty-Body{
  color: rgb(254, 72, 72);
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -8px; 
}

@media only screen and (min-width: 768px) {
  .notes-input button{
    padding: 10px 20px;
    margin-top: 10px;
    width: 20%;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: 1px 1px 5px #ffd500b4;
    margin-left: 80%;
    color: #FFF600;
    font-weight: bold;
    border: 1px solid #ffd600;
    cursor: pointer;
  }

  .notes-input button:hover {
    background-color: #ffd600;
    color: #26001B;
    font-weight: bold;
    box-shadow: 5px 5px #ffffff4a;
    transition: all .5s ease-in-out;
  }

  .limit-char{
  color: #FFF600;
}

  .body-input{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background-color: 'transparent';
  align-items: center;
}
.notes-input{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 40%;
  box-sizing: border-box;
  width: 40%;
  margin-bottom: 20px;
}

.form-input-note{
  box-sizing: border-box;
  background-color: transparent;
  color: #ffd600;
  padding: 8px;
  border: 1px solid #26001b;
  box-shadow: 1px 1px 2px #ffd600;
  transition: all  .5s ease-in-out;
}

.form-input-note:focus {
  background-color: #ffd600;
  color: #26001B;
  outline: none;
  border: none;
  box-shadow: 5px 5px #ffffff4a;
  font-weight: 800;
  transition: all .5s ease-in-out;
}

.form-input-note::placeholder{
  color: #fff700c6;
  font-size: 12px;
  font-weight: 200;
  text-transform: lowercase;
}

textarea{
  max-width: 100%;
  height: 80px;
  max-height: 120px;
  margin: 10px 0;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffd600;
  padding: 8px;
  border: 1px solid #26001b;
  box-shadow: 1px 1px 2px #ffd600;
  transition: all  .5s ease-in-out;
}

textarea:focus{
  background-color: #ffd600;
  color: #26001B;
  outline: none;
  border: none;
  box-shadow: 5px 5px #ffffff4a;
  font-weight: 800;
  transition: all .5s ease-in-out;
}

textarea::placeholder{
  color: #ffd600;
}
}
